<head>
	<title>test</title>
	<!-- import•io js client library deps -->
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/cometd.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/AckExtension.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/jquery.cookie.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/ReloadExtension.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/jquery.cometd.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/jquery.cometd-reload.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/jquery.cometd-ack.js"></script>
	<!-- import•io js client library -->
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/importio.js"></script>
</head>

<body>
	<div class="container-fluid">
		<header class="navbar navbar-fixed-top">
			<nav class="navbar-inner">
				<a class="brand" href="#">
					<img src="/logo-dark.png" alt="Relocatr" height="80" width="380">
				</a>
				<form class="navbar-form pull-right form-search">
					<input type="text" class="input-medium search-query">
					<input type="button" class="btn" value="Search" />
				</form>
			</nav>
		</header>
		{{> main}}
	</div>
</body>
