<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<title>Relocatr</title>
	<!-- import•io js client library deps -->
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/cometd.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/AckExtension.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/jquery.cookie.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/ReloadExtension.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/jquery.cometd.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/jquery.cometd-reload.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/jquery.cometd-ack.js"></script>
	<!-- import•io js client library -->
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/importio.js"></script>

	<!-- local javascript shite -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&amp;key=AIzaSyDSs7FSlpD-LXM3YEHZCRBWP-f-NE9VJH8&amp;sensor=false"></script>
</head>

<body>
	{{> header}}
	<div class="container-fluid full-height">
		{{> map}}
	</div>
</body>
