<template name="header">
	<header class="navbar navbar-fixed-top not-fixed">
		<nav class="navbar-inner">
			<a class="brand" href="#">
				<img src="/logo-dark.png" alt="Relocatr" height="48" width="228">
			</a>
			<form class="navbar-form pull-right form-search">
				<div class="input-append">
					<input type="text" class="input-large search-query" placeholder="Search for jobs&hellip;">
					<button class="btn btn-primary add-on"><i class="icon-search"></i></button>
				</div>
			</form>
		</nav>
	</header>
</template>