<template name="header">
	<header class="navbar navbar-fixed-top navbar-inverse">
		<nav class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="#">
					<img src="/logo-light.png" alt="Relocatr" height="48" width="228">
				</a>
				<form class="navbar-form pull-right form-search bigass">
					<div class="input-append">
						<input type="text" class="input-large search-query" placeholder="Search for jobs&hellip;">
						<button class="btn btn-primary add-on">{{{searchIcon}}}</button>
					</div>
				</form>
			</div>
		</nav>
	</header>
</template>