<head>
	<title>test</title>
	<!-- import•io js client library deps -->
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/cometd.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/AckExtension.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/jquery.cookie.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/ReloadExtension.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/jquery.cometd.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/jquery.cometd-reload.js"></script>
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/jquery.cometd-ack.js"></script>
	<!-- import•io js client library -->
	<script type="text/javascript" src="//d7xe6yl2ckrgs.cloudfront.net/js/0.2-matt-testing/importio.js"></script>
</head>

<body>
	{{> hello}}
</body>

<template name="hello">
	<h1>Test import&bull;io</h1>
	<input type="button" value="Click" />
	<ul>
		{{#each result}}
		<li>{{.}}</li>
		{{/each}}
	</ul>
</template>
