<template name="sidebar">
	<aside class="sidebar full-height">
		<h3>
			<a href="#" class="btn btn-pin btn-large btn-primary">
				<i class="icon-large icon-map-marker"></i> Pin a location&hellip;
			</a>
		</h3>
		{{#each factors}}
			<div class="sidebar-section">
				<h2>
					<i class="icon-large icon-reorder"></i>
					{{name}}
					{{#if sub}}
						<a href="#toggle" class="toggler pull-right"><i class="icon-large icon-caret-right"></i></a>
					{{/if}}
				</h2>
				<div class="subs">
					{{#each sub}}<h4><input type="checkbox" value="{{.}}"> {{.}}</h4>{{/each}}
				</div>
			</div>
		{{/each}}
	</aside>
</template>