@font-face
	font-family 'Roboto Regular'
	src url("/static/fonts/Roboto-Regular-webfont.eot")
	src url("/static/fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Roboto-Regular-webfont.woff") format("woff"), url("/static/fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("/static/fonts/Roboto-Regular-webfont.svg#RobotoRegular") format("svg")
	font-weight normal
	font-style normal

@font-face
	font-family 'Roboto Light'
	src url("/static/fonts/Roboto-Light-webfont.eot")
	src url("/static/fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Roboto-Light-webfont.woff") format("woff"), url("/static/fonts/Roboto-Light-webfont.ttf") format("truetype"), url("/static/fonts/Roboto-Light-webfont.svg#RobotoLight") format("svg")
	font-weight normal
	font-style normal

@font-face
	font-family 'Roboto Medium'
	src url("/static/fonts/Roboto-Medium-webfont.eot")
	src url("/static/fonts/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Roboto-Medium-webfont.woff") format("woff"), url("/static/fonts/Roboto-Medium-webfont.ttf") format("truetype"), url("/static/fonts/Roboto-Medium-webfont.svg#RobotoMedium") format("svg")
	font-weight normal
	font-style normal

@font-face
	font-family 'Roboto Thin'
	src url("/static/fonts/Roboto-Thin-webfont.eot")
	src url("/static/fonts/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Roboto-Thin-webfont.woff") format("woff"), url("/static/fonts/Roboto-Thin-webfont.ttf") format("truetype"), url("/static/fonts/Roboto-Thin-webfont.svg#RobotoMedium") format("svg")
	font-weight normal
	font-style normal

@font-face
	font-family 'Roboto Regular Italic'
	src url("/static/fonts/Roboto-RegularItalic-webfont.eot")
	src url("/static/fonts/Roboto-RegularItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Roboto-RegularItalic-webfont.woff") format("woff"), url("/static/fonts/Roboto-RegularItalic-webfont.ttf") format("truetype"), url("/static/fonts/Roboto-RegularItalic-webfont.svg#RobotoRegular") format("svg")
	font-weight normal
	font-style normal

@font-face
	font-family 'Roboto Light Italic'
	src url("/static/fonts/Roboto-LightItalic-webfont.eot")
	src url("/static/fonts/Roboto-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Roboto-LightItalic-webfont.woff") format("woff"), url("/static/fonts/Roboto-LightItalic-webfont.ttf") format("truetype"), url("/static/fonts/Roboto-LightItalic-webfont.svg#RobotoLight") format("svg")
	font-weight normal
	font-style normal

@font-face
	font-family 'Roboto Medium Italic'
	src url("/static/fonts/Roboto-MediumItalic-webfont.eot")
	src url("/static/fonts/Roboto-MediumItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Roboto-MediumItalic-webfont.woff") format("woff"), url("/static/fonts/Roboto-MediumItalic-webfont.ttf") format("truetype"), url("/static/fonts/Roboto-MediumItalic-webfont.svg#RobotoMedium") format("svg")
	font-weight normal
	font-style normal

@font-face
	font-family 'Roboto Thin Italic'
	src url("/static/fonts/Roboto-ThinItalic-webfont.eot")
	src url("/static/fonts/Roboto-ThinItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Roboto-ThinItalic-webfont.woff") format("woff"), url("/static/fonts/Roboto-ThinItalic-webfont.ttf") format("truetype"), url("/static/fonts/Roboto-ThinItalic-webfont.svg#RobotoMedium") format("svg")
	font-weight normal
	font-style normal