@import('nib')
@import "//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css"
@import "//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css"
@import "fonts"


html
	height: 100%
body
	height: 100%
	margin: 0
	padding: 0

*
	font-family "Roboto Light"
	font-size 16px
	line-height 24px
p
	margin 0 0 1.2em

h1, h2, h3
	font-family "Roboto Thin"
	em
		font-family "Roboto Thin Italic"
h4, h5, h6
	font-family "Roboto Light"
	em
		font-family "Roboto Light Italic"

h1, h2, h3, h4, h5, h6
	em, strong
		font-size inherit
	strong
		font-family "Roboto Medium"

	font-weight 500
	margin 1rem 0 0.5rem

em
	font-family "Roboto Light Italic"

strong
	font-family "Roboto Medium"

strong em
em strong
	font-family "Roboto Medium Italic"

a
	text-decoration none
	font-family "Roboto Regular"
	color #09C
	&:hover, &:active
		color #3BF
		border-bottom 1px dotted #3BF

calc()
	if current-property
		for prefix in vendors
			arguments = unquote(arguments)
			add-property(current-property[0], s('-%s-calc(%s)', prefix, arguments))
		s('calc()', arguments)
	else
		error('calc() must be used within a property')

noisy-bg()
	background-image url("/noisebg.png")
	background-size 50px 50px
	background-repeat repeat

.splash
	text-align center
	background-image url("/splashbg.png")
	background-size 200px 200px
	background-repeat repeat

	height 100%

	h1
		padding-top 160px
		margin 0
	h2
		letter-spacing -0.05em
		font-size 70px

	.form-search.bigass
		margin-top 2em
		line-height 80px
		.search-query
			height 38px
			border-radius 28px

		.input-append
			.btn.add-on
				i
					font-size 24px
				height 38px
				width 38px
				border-radius right 28px

.sidebar-section
	h2
		margin-bottom 0
	input
		margin 0 5px 2px
	i.icon-reorder
		line-height inherit
.toggler
	font-size inherit
	&:hover
		border 0 none
		text-decoration none

.navbar.not-fixed
	noisy-bg()
	.brand
		padding 0
		&:hover
			border 0 none
		img
			width 285px
			height 60px

	.navbar-inner
		background-image url("/headerbg.png")
		background-size 200px 200px
		background-repeat repeat

	&.navbar-fixed-top
		position static


.form-search.bigass
	line-height 60px
	input, button
		margin 0
	.search-query
		height 28px
		border-radius 18px
		font-size 18px

	.input-append
		margin 0
		.search-query
			border-radius right 0
		.btn.add-on
			i
				font-size 19px
				line-height 1em
			box-sizing content-box
			margin-left -1px
			height 28px
			width 28px
			border-radius right 18px
			border-color #0044cc #0044cc #002a80
			text-shadow 0 -1px 0 #001230


.full-height
	padding 0
	height 100%
	&.container-fluid
		height calc('100% - 60px - 1px')

#map_canvas
	height: 100%

.sidebar
	height calc('100% - 60px - 1px')
	noisy-bg()
	width 250px
	padding 0 20px
	box-shadow inset -3px 0 5px rgba(0,0,0,0.1)
	border-right 1px solid #aaa
	overflow auto

.map-container
	height 100%
	width 100%

	display table
	& > *
		display table-cell

